@page
@model Snackis.Pages.Admin.ContentManagement.subcat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory.SubCatName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.SubCatName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory.CategoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubCategory.CategoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubCategory.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
