@page 
@model Snackis.Pages.Posts.SubCategoryIndexModel

@{
    ViewData["Title"] = "Underkategorier";
}
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Admins inspirations citat</h5>
                    <p class="card-text">@Model.RandomQuote.Quote</p>
                    <h6 class="card-subtitle mb-2 text-muted float-right">- @Model.RandomQuote.Author</h6>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-offset-1 center">
                <div class="card">
                    <div class="card-header bg-secondary text-center">
                        @foreach (var cat in Model.CategoryList)
                        {
                            @if (cat.Id == Model.SubCategory.CategoryID)
                            {
                                <div class="Titles">Underkategorier i @cat.CategoryName</div>
                            }
                        }
                    </div>
                    <ul class="list-group list-group-flush text-center" style="list-style-type: none;">
                        @foreach (var item in @Model.SubCategoryList)
                        {
                            @if (Model.SubCategory != null)
                            {
                                @if (item.CategoryID == @Model.SubCategory.CategoryID)
                                {
                                    <li>
                                        <a class="subTitles" asp-page="TopicsIndex" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.SubCatName)</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <br />
                <p>
                    <a href="@Url.Page("/index")"><button type="button" class="btn btn-secondary">Tillbaka till översikten</button></a>
                </p>
            </div>
        </div>
</div>
